.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 1400ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0.01;
  transition: opacity 1400 ease-in;
}
